@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet overrides */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 0;
}
