@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet overrides */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 0;
}

/* Leaflet Container Fix */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-control-zoom {
  margin-top: 80px !important;
}

/* Button über allem */
button[title="Meinen Standort nutzen"] {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
